* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0,0,0,0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: rgba(0, 0, 0, 0);
;
}

window#waybar.chromium {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: rgba(100,100,100,0.5);
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.active {
	background-color:rgba(0,0,0,0);
	color:#ffffff;
	box-shadow: inset 0 -2px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #000000;
}


#mode {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(0, 0, 0, 0);
}

#battery {
    background-color:rgba(0, 0, 0, 0);
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color:rgba(0, 0, 0, 0)  ;
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(0,0,0,0);
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: rgba(0,0,0,0);
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    background-color: rgba(0,0,0,0);
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    background-color: rgba(0,0,0,0);
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}

#network {
    background-color: rgba(0, 0, 0, 0);
}

#network.disconnected {
    background-color: rgba(0, 0, 0, 0);
}

#pulseaudio {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#mpd {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}
#backlight{
 background-color: rgba(0,0,0,0);
    color: #ffffff;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}


